img {
    float: left;
}

.productDetails {
    line-height: 0.6;
    margin-left: 140px;
}

.name {
    line-height: 1.2 !important;
    margin-bottom: 2px;
}

.price {
    color: #d2284b;
}

button {
    background-color: #ffce00;
    border: 0;
    color: #372d07;
    padding: 8px 33px 8px 33px;
}

hr {
    background-color: #e7e7e7;
}